<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/book/create}" th:object="${book}">
        <label for="name">Enter book name:</label>
        <input type="text" th:field="*{bookName}" id="name">
        <br/>
        <label for="author_name">Enter author name:</label>
        <input type="text" th:field="*{authorName}" id="author_name">
        <br/>
        <label for="release_date">Enter release date:</label>
        <input type="text" th:field="*{releaseDate}" id="release_date">
        <br/>
        <input type="submit" value="Save">
    </form>
</div>

</body>
</html>