<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div>
    <table>
        <tr th:each="book : ${books}">
            <div>
                <a th:href="@{/book/{book_id}/(book_id=${book.getBookId()})}" th:text="${book.getBookId()}"></a>
                <a th:href="@{/book/{book_id}/(book_id=${book.getBookId()})}" th:text="${book.getBookName()}"></a>
                <a th:href="@{/book/{book_id}/(book_id=${book.getBookId()})}" th:text="${book.getAuthorName()}"></a>
                <a th:href="@{/book/{book_id}/(book_id=${book.getBookId()})}" th:text="${book.getPerson()}"></a>
                <a th:href="@{/book/{book_id}/(book_id=${book.getBookId()})}" th:text="${book.getReleaseDate()}"></a>
            </div>
        </tr>
    </table>
</div>

</body>
</html>