<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ordered list</title>
</head>
<body>
<div>
    <table>
        <caption>Client info</caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Birthdate</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${person.getPersonId()}"></td>
            <td th:text="${person.getName()}"></td>
            <td th:text="${person.getBirthday()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <table>
        <caption>Book list</caption>
        <thead>
        <tr>
            <th>Book name</th>
            <th>Author name</th>
            <th>Release date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${person.getBookList()}">
            <td th:text="${book.bookName}"></td>
            <td th:text="${book.authorName}"></td>
            <td th:text="${book.releaseDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>